<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433172476231-fvups5mbbe64pjtdp5geqffsejf02sup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433172476231-fvups5mbbe64pjtdp5geqffsejf02sup</string>
	<key>API_KEY</key>
	<string>AIzaSyDjaretBSlZjcKhi2us9lYREj2CUe__Gzc</string>
	<key>GCM_SENDER_ID</key>
	<string>433172476231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nuclei.ProjectInnovation</string>
	<key>PROJECT_ID</key>
	<string>projectinnovation-4ec72</string>
	<key>STORAGE_BUCKET</key>
	<string>projectinnovation-4ec72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433172476231:ios:7c986f47af3ff380859c62</string>
</dict>
</plist>